{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orbost Secondary College Magazine</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
    </script>
</head>
<body>
    <style>
        .user-menu {
            position: relative;
            transition: 0.2s ease-in-out;
        }
        .user-menu__options {
            background: white;
            box-shadow: 0px 2px 15px 0px rgb(80, 80, 80);
            position: absolute;
            color: black;
            text-align: center;
            padding: 5%;
            display: none;
            transition: 0.2s ease-in-out;
        }
        .user-menu__options a {
            color: black;
            display: block;
            padding: 10px;
            font-size: 1.2rem;
        }
        .user-menu:hover .user-menu__options {
            display: block;
        }
    </style>
    <nav class="nav">
        <div class="nav__element nav__heading">
            <a id="osc-nav-he" href="{% url 'core:index' %}"><h1 id="osc-nav-he">OSC Magazine</h1></a>
        </div>
        <div class="nav__element nav__profile-section">
            <span><i style="margin-top:8px;margin-right: 3px;" class="feather-icon" data-feather="search"></i></span><input type="search" placeholder="Search Site">
            {% if user.is_authenticated %}
            <div class="user-menu">
                <button class="btn btn__link--dark" id="profile-nav-stuff"><i class="feather-icon" data-feather="user"></i> {{ user }}</button>
                <div class="user-menu__options">
                    <a href="#">Make Post</a>
                    <span id="everything-theme">
                        <a title="Double Click To Change" onclick="changeTheme()" id="theme-changer" href="#"><span data-feather="moon"></span> Theme</a>
                    </span>
                    {% if user.is_superuser %}
                    <a href="{% url 'admin:index' %}"><span style="font-size: 0.1em;" data-feather="database"></span> Admin Panel</a>
                    {% endif %}
                    <a href="{% url 'core:logout' %}">Logout</a>
                </div>
            </div>
            {% else %}
            <button id="register-btn" class="btn btn__link--dark"><i class="feather-icon" data-feather="edit-2"></i> Sign Up To Write</button>
            {% endif %}
            <button class="btn btn__primary--dark"><i class="feather-icon" data-feather="archive"></i> View Archive</button>
        </div>
    </nav> 

    {% block content %} {% endblock %}


    <script src="{% static 'js/app.js' %}"></script>
    <script>
        document.getElementById('register-btn').addEventListener('click', () => {
            window.location = "{% url 'core:register' %}"
        });
    </script>
</body>
</html>