<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
</head>
<body>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <div style="text-align: center;margin: 0 auto; background: white;box-shadow: 0px 0px 20px 0px #e2e2e2;padding: 32px; width: 80%;font-family: 'Questrial', sans-serif; " class="container">
        <h1>Thank you, {{ user }} for signing up to the OSC Magazine!</h1>
        <h2>Please verify your email!</h2>
        <button style="padding:10px 20px; color: white; cursor: pointer; border-radius: 4px; background: blue;border: none;outline: none;font-family: 'Questrial', sans-serif;">Verify</button>
        <small>Activation key: {{ key }}</small>
    </div>
</body>
</html>