{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="oops"></div>
<section class="articles">
    <div class="articles__featured">
        <img id="featured-img" src="{% static 'images/bg.jpg' %}" alt="Featured Article">
        <h1 class="articles__title--featured articles__link"><a class="global-link" id="fea" href="{% url 'core:post' slug=latest.slug %}">{{ latest.title }}</a></h1>
        <p class="articles__sub articles__link"><span class="articles__author">By <span style="font-weight: 700;">{{ latest.author }}</span></p>
    </div>
    <!-- <div class="articles__tags">
        <h1>Read more tags</h1>
            <div class="tags__tag">
                <p>Art</p>
            </div>
            <div class="tags__tag">
                <p>Art</p>
            </div>
            <div class="tags__tag">
                <p>Art</p>
            </div>
    </div> -->
    <div class="">
        
    </div>
    <div class="articles__special">
        <h1 style="margin-bottom: 20px;"> <span data-feather="loader"></span> Special Posts</h1>
        <div class="articles__special-container">
            <div class="articles__post">
                <img src="{% static 'images/ThumbnailOSCMag.png' %}" alt="Sub Articles">
            </div>
            <div class="articles__post">
                <img src="{% static 'images/ThumbnailOSCMag.png' %}" alt="Sub Articles">
            </div>
        </div>
    </div>
    <div class="articles__sub">
        {% for post in posts %}
        <div class="articles__article">
            <img src="{% static 'images/ThumbnailOSCMag.png' %}" alt="Sub Articles">
            <h1 class="articles__title articles__link"><a class="global-link" href="{% url 'core:post' slug=post.slug %}">{{ post.title }}</a></h1>
        </div>
        {% endfor %}
    </div>
</section>

<!-- <div class="articles__search">
    <h1 style="margin-bottom: 20px;"> <span data-feather="loader"></span> Can't find what you're looking for?</h1> <span><i style="margin-top:8px;margin-right: 3px;" class="feather-icon" data-feather="search"></i></span><input type="search" placeholder="Search Site">
</div> -->
<script>
    document.getElementById('fea').addEventListener('click', () => {
        doc = document.getElementsByClassName('oops')[0]
        console.log('Clicked')
        $(document.body).load("{% url 'core:post' slug=latest.slug %}")
    })
</script>
{% endblock %}