{% extends 'core/base.html' %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}
{% block content %}
<style>
    .error {
        background: red;
        padding: 20px;
        color: white;
        margin-bottom: 50px;
    }
</style>
{% get_providers as socialaccount_providers %}
<div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  
    <div class="login-or">{% trans 'or' %}</div>
  
  </div>
<form method="POST" action="{% url 'core:login' %}">
    
    <div style="display: none;" class="error">
        <p id="error-msg"></p>
    </div>
    <small id="ava" style="display: none;">Username Good!</small>
    {% csrf_token %}
    <input id="username-input" required aria-required="true" type="text" name="username" placeholder="Username">
    <br>
    <input required aria-required="true" type="password" name="password" placeholder="Password">
    <br>
    <input type="submit" value="Login">
</form>
<small><a href="{% url 'core:register' %}">Register Instead</a></small>

<script>
$('#username-input').keyup(function(e) {
    var username = $(this).val();
    $.ajax({
        url: '/ajax/validate_username/',
        data: {
            'username': username
        },
        dataType: "json",
        success: function(data) {
            if (!data.exists) {
                $(".error").css('display','block')
                $("#ava").css('display','none');
                $("#error-msg").html(data.message)
            } else {
                $("#ava").css('display','block');
                $(".error").css('display','none')
            }
        }
    })
})
</script>

{% endblock %}