@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import 'buttons';
body[theme='dark-mode'] {
    ::selection {
        background: #51c0c8;
    }
    color: white;
    background: #121212;
    h1, h2, h3, h4, h5, h6, a, p, small {
        color: white
    }
    .nav {
        background: rgb(27, 27, 27);
    }
    .user-menu {
        &__options {
            background: #121212;

        }
    }
}
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
    font-family: 'Questrial', sans-serif;
    font-weight: lighter;
     
}

.feather-icon {
    vertical-align: middle;
}

.nav {
    width: 100%;
     
    background: #2d3091;
    display: grid;
    vertical-align: middle;
    grid-template-columns: 10% repeat(2, minmax(350px, 1fr)) 10%;
    align-items: center;
    padding: 1.5em 0;
    color: white;
    a {
        text-decoration: none;
        color: white;
    }
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    &__heading {
        grid-column: 2/3;
    }
    &__profile-section {
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        input {
            border: none; outline: none;
            background: none;
            color: white;
            font-size: 1em;
             
            &::placeholder {
                opacity: 0.7;
                color: white;
            }
        }
        button:nth-child(1) {
            margin: 0 20px;
        }
    }
}

.global-link {
    color: black;
}

.articles {
    
    display: grid;
    grid-template-columns: 10% 50% 10% 20% 10%;
    grid-template-rows: 5% 10% repeat(3, 10%) 20% 10%;
    // grid-auto
    &__link {
        transition: 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
            color: lighten(black, 50);
        }
    }
    &__sub {
    }
    &__title {
        margin: {
            top: 10px;
            bottom: 15px;
        }
        font-size: 1.25em;
        &--featured {
            color: black;
            margin: {
                top: 15px;
                bottom: 5px;
            }
            font-size: 2.5em;
        }
    }
    &__featured {
        grid-column: 2;
        grid-row: 2/6;
        img {
            object-fit: cover;
            width: 100%;
            max-height: 100%;
        }
    }
    &__tags {
        h1 {
            font-size: 1.25rem;
        }
        display: inline-block;
        padding: 20px;
        grid-column: 2;
        grid-row: 7/8;
        background: #e4e4e4;
    }
    &__search {
        h1 {
            font-size: 1.25rem;
        }
        input {
            border: none; outline: none;
            background: none;
            font-size: 1em;
            &:focus {
                border-bottom: 2px solid #2d3091;
            }
            &::placeholder {
                opacity: 0.7;
            }
        }
        margin: {
            top: 50px;
        }
        padding: 20px;
        height: 100%;
        display: block;
        background: #e4e4e4;
    }
    &__special {
        h1 {
            font-size: 1.25rem;
        }
        // padding: 20px;
        grid-column: 2;
        grid-row: 7;
        // background: #e4e4e4;
    }
    &__special-container {
        display: flex;
        justify-content: space-between;
    }
    &__post {
        img {
            object-fit: cover;
            width: 100%;
            max-height: 100%;
        }
        grid-row: 9/10;
    }
    &__sub {
        grid-column: 4/5;
        grid-row: 2/8;
        img {
            object-fit: cover;
            width: 100%;
            max-height: 100%;
        }
    }
}

.hover-class {
    content: "Sign Up To Write";
}

@media screen and (max-width: 600px) {
    .articles {
        // display: flex;
        // flex-wrap: wrap;
        // flex-direction: column;
        // justify-content: space-around;
        // width: 100%;
        display: grid;
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: repeat(15, 100px);
        grid-column: 2/3;
        &* {
            margin: 0 auto;
        }
        img:not(#featured-img) {
            width: 50%; height: auto;
        }
        &__special {
            grid-column: 2;
            grid-row: 12;
        }
        &__special-container {
            background: none;
            img {
                object-fit: cover;
                width: 100%;
                max-height: 100%;
            }
            flex-wrap: wrap;
            flex-direction: column; 
        }
        &__post {
            img {
                width: 500px; height: auto;
            }
        }
        &__featured {
            grid-column: 2/3; 
        }
        &__sub {
            grid-column: 2/3;
            grid-row: 5;
        }

    }
}